<template>
  <div class="container pt-5">
    <div class="card">
      <div class="card-header">
        add employee
      </div>
      <form v-on:submit.prevent="submit">
        <div class="card-body">
          <div class="form-group">
          </div>
          <div class="form-group">
          </div>
          <div class="form-group">
            <b-input placeholder="Name" v-model="firstname"/>
          </div>
          <div class="form-group">
            <b-input placeholder="lastname" v-model="lastname"/>
          </div>
          <div class="form-group">
            <b-form-datepicker id="date-picker"  v-model="birthday" class="mb-2"/>
          </div>
          <div class="form-group">
            <b-input placeholder="email" v-model="email" type="email" />
          </div>
        </div>
        <div class="card-footer">
          <div class="form-group wrapper-btn">
            <button class="btn btn-primary btn-block" type="submit">
              Save
            </button>
            <nuxt-link to="/dashboard" class="btn btn-danger btn-block">
              Back
            </nuxt-link>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
  export default {
    layout: 'test',
    data() {
      return {
        firstname: '',
        lastname: '',
        birthday: '',
        email: '',
      }
    },
    mounted() {
      this.find()
    },
    methods: {
      async find() {
        var axios = require('axios')
          , username = "user0"
          , password = "oUx4sgWEfgtYWYMHJ1Ub"
          , auth = "Basic " + new Buffer(username + ":" + password).toString("base64");

        var config = {
          method: 'post',
          url: 'https://dummy-api.cm.edu/employees/' ,
          headers: {
            "Authorization": auth
          }
        };
        let response = await axios(config)
        this.firstname = response.data.firstname
        this.lastname = response.data.lastname
        this.birthday = response.data.birthday
        this.email = response.data.email
      },
      async submit() {
        var axios = require('axios')
          , username = "user0"
          , password = "oUx4sgWEfgtYWYMHJ1Ub"
          , auth = "Basic " + new Buffer(username + ":" + password).toString("base64");
        var data = JSON.stringify({
          "firstname": this.firstname,
          "lastname": this.lastname,
          "birthday": this.birthday,
          "email": this.email
        });
        var config = {
          method: 'post',
          url: 'https://dummy-api.cm.edu/employees/',
          headers: {
            "Authorization": auth,
            'Content-Type': 'application/json'
          },
          data: data
        };
        await axios(config)
        this.$router.push('/dashboard')
      }
    }
  }
</script>
<style scoped>
  .card {
    width: 100% !important;
  }

  .btn {
    width: 200px;
  }

  .wrapper-btn {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
</style>
