<template>
  <div class="container">
    <div class="card-header">
      LOGIN
    </div>
    <div class="card-body">
      <div class="form-group">
        <b-input placeholder="Username" v-model="username" :state="nameState" id="input-live" aria-describedby="input-live-help input-live-feedback"/>
        <b-form-invalid-feedback id="input-live-feedback" class="text-right">
          Enter at least 3 letters
        </b-form-invalid-feedback>
      </div>
      <div class="form-group">
        <b-input placeholder="Password" v-model="password"/>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success btn-block" @click="login">
        submit
      </button>
    </div>
  </div>
</template>

<script>

  export default {
    created() {
    },
    computed: {
      nameState() {
        return this.username.length > 2 ? true : false
      }
    },
    data() {
      return {
        username: '',
        password: '',
        error: null,
      }
    },
    mounted() {
    },
    methods: {
      async login() {
        try {
          var axios = require('axios')
            , auth = "Basic " + new Buffer(this.username + ":" + this.password).toString("base64");

          var config = {
            method: 'post',
            url: 'https://dummy-api.cm.edu',
            headers: {
              "Authorization": auth
            }
          };
          let response = await axios(config)
          console.log(response)
        } catch (e) {
          this.error = e
        }
      },
    }
  }
</script>

<style>
  .container {
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
    text-align: center;
  }

  .btn {
    width: 200px
  }

</style>
