<template>
  <div class="container pt-5">
    <div class="card card-header">
      <div class="col-12">
        <div class="text-right">
          <nuxt-link to="/create" class="btn btn-primary">
            Create
          </nuxt-link>
        </div>
      </div>
    </div>
    <b-table striped hover :items="items" :fields="fields">
      <template v-slot:cell(action)="row">
        <div class="col-12">
          <nuxt-link :to="'/edit/'+row.item._id" class="btn btn-secondary">
            Update
          </nuxt-link>
          <button class="btn btn-danger" @click="remove(row.item._id)">
            Delete
          </button>
        </div>
      </template>
    </b-table>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        items: [],
        fields: ['_id', 'firstname', 'lastname', 'birthday', 'email', 'action'],
        _id: this.$route.params.id,
      }
    },
    mounted() {
      this.dashboard()
    },
    methods: {
      async dashboard() {
        var axios = require('axios')
          , username = "user0"
          , password = "oUx4sgWEfgtYWYMHJ1Ub"
          , auth = "Basic " + new Buffer(username + ":" + password).toString("base64");

        var config = {
          method: 'get',
          url: 'https://dummy-api.cm.edu/employees',
          headers: {
            "Authorization": auth
          }
        };
        let response = await axios(config)
        this.items = response.data
      },
      async remove(id){
        var axios = require('axios')
          , username = "user0"
          , password = "oUx4sgWEfgtYWYMHJ1Ub"
          , auth = "Basic " + new Buffer(username + ":" + password).toString("base64");

        var config = {
          method: 'delete',
          url: 'https://dummy-api.cm.edu/employees/'+ id,
          headers: {
            "Authorization": auth
          }
        };
        let response = await axios(config)
        await this.dashboard()
      }
    }
  }
</script>
<style scoped>
  .container {
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
    text-align: center;
  }

  .btn {
    width: 200px;
  }
</style>
